<style th:fragment="el-style">
    .header {
        background-color: rgba(238, 241, 246, 1);
        height: 6vh;
        color: #333;
        border-bottom: 1px solid #f1f1f1;
    }

    .aside {
        background-color: rgba(238, 241, 246, 1);
        height: 93vh;
        color: #333;
        border-right: 1px solid #f1f1f1;
    }
</style>
<el-header th:fragment="el-header" width="100%" class="header"
					 style=" display: flex;	justify-content: space-between;	align-items: center;">
	<span>{{title}}</span>
	<el-dropdown>
		<i class="el-icon-setting" style="margin-right: 15px;"></i>
		<el-dropdown-menu slot="dropdown">
			<el-dropdown-item><span @click="logout">退出登录</span></el-dropdown-item>
		</el-dropdown-menu>
	</el-dropdown>
</el-header>
<el-aside width="200px" class="aside" th:fragment="el-menus">
	<el-menu :default-openeds="['0']">
		<el-menu-item :index="`${0}`" v-for="(item) in menus" @click="clickMenu(item.url)" :key="item.id">
			<i :class="item.icon"></i>{{item.name}}
		</el-menu-item>
	</el-menu>
</el-aside>

<style th:fragment="a-style">
    .ant-layout-header, .ant-layout-footer {
        background: #7dbcea;
        color: #fff;
        height: 5vh;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .title {
        font-size: 20px
    }

    .ant-layout-footer {
        line-height: 1.5;
    }

    .ant-layout-sider {
        width: 100%;
        height: 89vh;
        background: #fff;
    }

    .ant-layout-content {
        padding: 16px;
        background: #fff;
        min-height: 120px;
        height: 89vh;
    }

    .container-parent {
        /*padding: 16px;*/
    }
</style>
<a-layout-header th:fragment="a-header">
	<span class="title">{{title}}</span>
	<div>
		<a-dropdown>
			<span>
				<a-avatar :src="userInfo.headImg.virtualPath" v-if="userInfo.headImg"></a-avatar>
				<span>{{ userInfo.name }}</span>
			</span>
			<a-menu slot="overlay">
				<a-menu-item key="3" @click="showPersonSettings">
					<a-icon type="setting"></a-icon>
					个人设置
				</a-menu-item>
				<a-menu-item key="1" @click="showUpdatePassword">
					<a-icon type="key"></a-icon>
					修改密码
				</a-menu-item>
				<a-menu-item key="2" @click="logout">
					<a-icon type="logout"></a-icon>
					退出登录
				</a-menu-item>
			</a-menu>
			<a-button style="margin-left: 8px"> Button
				<a-icon type="down"></a-icon>
			</a-button>
		</a-dropdown>
	</div>
</a-layout-header>
<a-layout-sider th:fragment="a-menus">
	<a-menu style="width: 200px;height: 100%" mode="inline">
		<a-sub-menu :key="menu.key" @titleClick="clickMenusTitle" v-for="menu in menus"
								v-if="menu.children && menu.children.length">
			<span slot="title"><a-icon :type="menu.icon"></a-icon><span>{{ menu.name }}</span></span>
			<a-sub-menu :key="child.key" v-if="child.children && child.children.length" v-for="child in menu.children">
				<span slot="title"><a-icon :type="child.icon"></a-icon><span>{{ child.name }}</span></span>
				<a-menu-item :key="item.key" v-for="item in child.children" @click="clickMenusItem(item.url)">
					<a-icon :type="item.icon"></a-icon>
					<span>{{ item.name }}</span>
				</a-menu-item>
			</a-sub-menu>
			<a-menu-item :key="child.key" v-else @click="clickMenusItem(child.url)">
				<a-icon :type="child.icon"></a-icon>
				<span>{{ child.name }}</span>
			</a-menu-item>
		</a-sub-menu>
		<a-menu-item :key="menu.key" v-else @click="clickMenusItem(menu.url)">
			<a-icon :type="menu.icon"></a-icon>
			<span>{{ menu.name }}</span>
		</a-menu-item>
	</a-menu>
</a-layout-sider>
<a-modal th:fragment="a-password" title="修改密码" :visible.sync="show.updatePassword" width="25%" ok-text="确认"
				 cancel-text="取消"
				 @ok="saveUpdatePassword" @cancel="closeUpdatePassword">
	<a-form-model ref="updatePasswordForm" :model="form.updatePassword" :rules="rules" :label-col="labelCol"
								:wrapper-col="wrapperCol">
		<a-form-model-item label="原密码" prop="oldPassword">
			<a-input-password v-model="form.updatePassword.oldPassword"></a-input-password>
		</a-form-model-item>
		<a-form-model-item label="新密码" prop="newPassword">
			<a-input-password v-model="form.updatePassword.newPassword"></a-input-password>
		</a-form-model-item>
		<a-form-model-item label="重复密码" prop="againPassword">
			<a-input-password v-model="form.updatePassword.againPassword"></a-input-password>
		</a-form-model-item>
	</a-form-model>
</a-modal>
<a-modal th:fragment="a-person-settings" title="个人信息" :visible.sync="show.personSettings" width="40%" ok-text="保存"
				 cancel-text="取消"
				 @ok="savePersonSettings" @cancel="closePersonSettings">
	<a-form-model ref="personSettingsForm" :model="form.personSettings" :rules="rules" :label-col="labelCol"
								:wrapper-col="wrapperCol">
		<a-form-model-item label="姓名" prop="name">
			<a-input v-model="form.personSettings.name"></a-input>
		</a-form-model-item>
		<a-form-model-item label="性别" prop="gender">
			<a-radio-group name="gender" v-model="form.personSettings.gender">
				<a-radio :value="1">男</a-radio>
				<a-radio :value="2">女</a-radio>
			</a-radio-group>
		</a-form-model-item>
		<a-form-model-item label="年龄" prop="age">
			<a-input-number :min="0" v-model="form.personSettings.age" style="width: 100%"></a-input-number>
		</a-form-model-item>
		</a-form-model-item>
		<a-form-model-item label="邮箱" prop="mail">
			<a-input v-model="form.personSettings.mail"></a-input>
		</a-form-model-item>
		<a-form-model-item label="头像" prop="image">
			<div class="clearfix">
				<a-upload name="file" list-type="picture-card" :file-list="temp.fileList" :headers="headers"
									action="/api/uploadFile" @preview="showPreview" @change="changeUploadFile"
									:remove="removeUploadFile">
					<div v-if="temp.fileList.length < 1">
						<a-icon type="plus"></a-icon>
						<div class="ant-upload-text"> 上传</div>
					</div>
				</a-upload>
			</div>
		</a-form-model-item>
		<a-modal :visible="show.previewImg" :footer="null" @cancel="closePreview">
			<img style="width: 100%" :src="temp.previewSrc"/>
		</a-modal>
	</a-form-model>
</a-modal>
<a-layout-footer th:fragment="a-footer"></a-layout-footer>
