<!doctype html>
<html class="x-admin-sm" xmlns:th="http://www.thymeleaf.org"
			xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
	<div data-th-replace="/components/base :: javascript"></div>
	<div data-th-replace="/components/vue :: javascript"></div>
	<div data-th-replace="/components/ui :: antd"></div>
	<style>
      .drawer-bottom-button {
          position: absolute;
          right: 0;
          bottom: 0;
          width: 100%;
          border-top: 1px solid #e9e9e9;
          padding: 10px 16px;
          background: #fff;
          text-align: right;
          z-index: 1;
      }
	</style>
</head>
<body>
<div id="app">
	<div>
		<a-button @click="addUser">添加用户</a-button>
		<a-divider></a-divider>
		<a-drawer width="30%" :visible="show.userInfo" @close="closeUserForm">
			<a-form-model :model="form.userInfo" :rules="rules" :label-col="labelCol" :wrapper-col="wrapperCol">
				<a-form-model-item label="用户名" prop="username">
					<a-input v-model="form.userInfo.username" placeholder="请输入用户名"></a-input>
				</a-form-model-item>
				<a-form-model-item label="姓名" prop="name"v-if="false">
					<a-input v-model="form.userInfo.name" placeholder="请输入姓名"></a-input>
				</a-form-model-item>
				<a-form-model-item label="年龄" prop="age"v-if="false">
					<a-input-number style="width:100%" v-model="form.userInfo.age" placeholder="请输入年龄"></a-input-number>
				</a-form-model-item>
				<a-form-model-item label="邮箱" prop="mail"v-if="false">
					<a-input v-model="form.userInfo.mail" placeholder="请输入邮箱"></a-input>
				</a-form-model-item>
				<a-form-model-item label="权限" prop="role" v-if="false">
					<a-radio-group v-model="form.userInfo.role" default-value="2">
<!--						<a-radio value="0">系统管理员</a-radio>-->
						<a-radio value="1">用户管理员</a-radio>
						<a-radio value="2">普通用户</a-radio>
					</a-radio-group>
				</a-form-model-item>
				<a-form-model-item label="标签" prop="tags" v-if="false">
					<a-select mode="multiple" v-model="form.userInfo.tags" placeholder="请选择标签">
						<a-select-option v-for="item in tagsOptions" :key="item.id">
							{{ item.name }}
						</a-select-option>
					</a-select>
				</a-form-model-item>
			</a-form-model>
			<div class="drawer-bottom-button">
				<a-button :style="{ marginRight: '8px' }" @click="closeUserForm">关闭</a-button>
				<a-button type="primary" @click="saveUserForm">保存</a-button>
			</div>
		</a-drawer>
		<a-modal title="重置密码" :visible.sync="show.resetPassword" width="30%" ok-text="确认" cancel-text="取消"
						 @ok="submitResetPassword" @cancel="closeResetPassword">
			<a-form-model :model="form.resetPassword" :rules="rules" :label-col="labelCol" :wrapper-col="wrapperCol">
				<a-form-model-item label="新密码" prop="password">
					<a-input-password v-model="form.resetPassword.password"></a-input-password>
				</a-form-model-item>
				<a-form-model-item label="重复密码" prop="rePassword">
					<a-input-password v-model="form.resetPassword.rePassword"></a-input-password>
				</a-form-model-item>
			</a-form-model>
		</a-modal>
		<a-table :data-source="dataSource" rowKey="id" :columns="columns" :pagination="false">
      <span slot="tags" slot-scope="tags">
        <a-tag v-for="tag in tags" :rowKey="tag.id" :color="tag.color">{{ tag.name }}</a-tag>
      </span>
			<span slot="role" slot-scope="role">
          <a-tag color="green" v-if="role === 0">系统管理员</a-tag>
          <a-tag color="orange" v-if="role === 1">用户管理员</a-tag>
          <a-tag color="blue" v-if="role === 2">普通用户</a-tag>
      </span>
			<span slot="status" slot-scope="status">
        <a-tag color="green" v-if="status === 0">正常</a-tag>
        <a-tag color="red" v-else>禁用</a-tag>
      </span>
			<span slot="action" slot-scope="text, record">
<!--        <span v-if="record.role !== 0">-->
<!--          <a-button type="default" size="small" @click="changeStatus(record)" v-if="record.status === 0">禁用</a-button>-->
<!--          <a-button type="primary" size="small" @click="changeStatus(record)" v-if="record.status === 1">启用</a-button>-->
<!--					<a-divider type="vertical"></a-divider>-->
<!--        </span>-->
        <span v-if="record.role !== 0">
          <a-button type="danger" size="small" @click="removeUser(record)">删除</a-button>
					<a-divider type="vertical"></a-divider>
        </span>
        <a-button type="primary" size="small" @click="editUser(record)">编辑</a-button>
				<a-divider type="vertical"></a-divider>
        <a-button type="primary" size="small" @click="showResetPassword(record)">重置密码</a-button>
				<a-divider type="vertical"></a-divider>
      </span>
		</a-table>
	</div>
</div>
<script>
    const app = new Vue({
        el: '#app',
        data() {
            return {
                rules: {
                    username: [
                        {required: true, message: '请输入用户名', trigger: 'blur'},
                        {min: 2, max: 16, message: '长度为2-16个字符', trigger: 'blur'},
                        {whitespace: true, message: '请输入用户名', trigger: 'blur'}
                    ],
                    name: [
                        {required: true, message: '请输入名称', trigger: 'blur'},
                        {min: 2, max: 16, message: '长度为2-16个字符', trigger: 'blur'},
                        {whitespace: true, message: '请输入名称', trigger: 'blur'}
                    ],
                    age: [
                        {required: true, message: '请输入年龄', trigger: 'blur'},
                    ],
                    mail: [
                        {required: true, message: '请输入邮箱', trigger: 'blur'},
                        {whitespace: true, message: '请输入邮箱', trigger: 'blur'}
                    ],
                    role: [
                        {required: true, message: '请选择权限', trigger: 'change'},
                    ],
                    tags: [],
                    password: [
                        {required: true, message: '请输入密码', trigger: 'blur'},
                        {min: 8, max: 16, message: '长度为8-16个字符', trigger: 'blur'},
                        {whitespace: true, message: '请输入密码', trigger: 'blur'}
                    ],
                    rePassword: [
                        {required: true, message: '请重复输入密码', trigger: 'blur'},
                        {min: 8, max: 16, message: '长度为8-16个字符', trigger: 'blur'},
                        {whitespace: true, message: '请重复输入密码', trigger: 'blur'}
                    ],
                },
                columns: [
                    {
                        dataIndex: 'username',
                        key: 'username',
                        title: '用户名',
                    },
                    // {
                    //     dataIndex: 'name',
                    //     title: '姓名',
                    //     key: 'name',
                    // },
                    // {
                    //     dataIndex: 'age',
                    //     title: '年龄',
                    //     key: 'age',
                    // },
                    // {
                    //     dataIndex: 'mail',
                    //     title: '邮箱',
                    //     key: 'mail',
                    // },
                    // {
                    //     dataIndex: 'role',
                    //     title: '角色',
                    //     key: 'role',
                    //     scopedSlots: {customRender: 'role'}
                    // },
                    // {
                    //     dataIndex: 'status',
                    //     title: '状态',
                    //     key: 'status',
                    //     scopedSlots: {customRender: 'status'}
                    // },
                    {
                        title: '操作',
                        key: 'action',
                        scopedSlots: {customRender: 'action'},
                    },
                ],
                dataSource: [],
                labelCol: {span: 5},
                wrapperCol: {span: 16},
                tagsOptions: [],
                form: {
                    type: 0,
                    userInfo: {
                        id: '',
                        name: '',
                        age: '',
                        mail: '',
                        role: 1,
                        status: null,
                        tags: [],
                    },
                    resetPassword: {
                        id: '',
                        newPassword: '',
                        againPassword: '',
                    },
                },
                show: {
                    tags: false,
                    userInfo: false,
                    resetPassword: false,
                },
                sysUser: sessionStorage.getItem("sysUser")
            };
        },
        mounted() {
            this.getList()
            // this.getTagsList()
        },
        methods: {
            refreshData() {
                this.getList()
            },
            getList() {
                axios.get('/api/user/list').then(response => {
                    const result = response.data
                    if (result.status !== 200) {
                        this.$message.error(result.message);
                        return;
                    }
                    if (result.data !== null) {
                        this.dataSource = result.data;
                    }
                }).catch(function (error) {
                    console.error('出现错误:', error);
                });
            },
            changeStatus(e) {
                const _this = this;
                this.$confirm({
                    title: '确认操作?',
                    cancelText: '取消',
                    okText: '确定',
                    onOk() {
                        _this.form.userInfo = e
                        _this.form.userInfo.status = Math.abs(_this.form.userInfo.status - 1)
                        axios.post('/api/user/changeStatus', _this.form.userInfo).then(result => {
                            console.log('通过api获取到的数据:', result);
                            if (result.status !== 200) {
                                _this.$message.error(result.message);
                                return
                            }
                            _this.$message.success(result.message)
                        }).catch(function (error) {
                            console.log('请求出现错误:', error);
                        });
                    },
                });
            },
            removeUser(e) {
                const _this = this;
                this.$confirm({
                    title: '确认操作?',
                    cancelText: '取消',
                    okText: '确定',
                    onOk() {
                        console.log(e)
                        axios.post('/api/user/delUser', e).then(result => {
                            console.log('通过api获取到的数据:', result);
                            if (result.status !== 200) {
                                _this.$message.error(result.message);
                                return
                            }
                            _this.$message.success(result.message)
                        }).catch(function (error) {
                            console.log('请求出现错误:', error);
                        });
                    },
                });
            },
            addUser() {
                this.form.type = 0
                this.show.userInfo = true
            },
            editUser(e) {
                this.form.type = 1
                this.form.userInfo.id = e.id
                this.form.userInfo.username = e.username
                this.form.userInfo.password = e.password
                this.form.userInfo.name = e.name
                this.form.userInfo.age = e.age
                this.form.userInfo.mail = e.mail
                this.form.userInfo.role = e.role + ''
                this.form.userInfo.status = e.status
                this.show.userInfo = true
            },
            closeUserForm() {
                this.form.userInfo = {
                    id: '',
                    name: '',
                    age: '',
                    mail: '',
                    role: null,
                    status: null,
                    tags: [],
                }
                this.show.userInfo = false
                this.refreshData()
            },
            saveUserForm() {
                console.log(this.form)
                let url = this.form.type === 0 ? '/api/user/addUser' : '/api/user/editUser'
                axios.post(url, this.form.userInfo).then(response => {
                    const result = response.data
                    if (result.status !== 200) {
                        this.$message.error(result.message);
                        return;
                    }
                    this.closeUserForm()
                }).catch(function (error) {
                    console.error('出现错误:', error);
                });
            },
            closeResetPassword() {
                this.show.resetPassword = false
            },
            showResetPassword(e) {
                this.form.resetPassword.id = e.id
                this.show.resetPassword = true
            },
            submitResetPassword() {
                console.log(this.form.resetPassword)
                axios.post('/api/user/resetPassword', this.form.resetPassword).then(result => {
                    console.log('通过api获取到的数据:', result);
                    if (result.status !== 200) {
                        this.$message.error(result.message);
                        return
                    }
                    this.$message.success(result.message)
                }).catch(function (error) {
                    console.log('请求出现错误:', error);
                });
            },
        }
    })
</script>
</body>
</html>
