<!doctype html>
<html class="x-admin-sm" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
	<title>后台管理</title>
	<div data-th-include="/common/manage :: style"></div>
	<style>

	</style>
</head>
<body>
<div id="app">
	<el-container style=" border: 1px solid #eee">
		<el-header width="100%" style="text-align: right; font-size: 12px">
			<!--      <router-link to="/demo">Demo</router-link>-->
			<h1>管理平台</h1>
			<!--      <el-dropdown>-->
			<!--        <i class="el-icon-setting" style="margin-right: 15px"></i>-->
			<!--        <el-dropdown-menu slot="dropdown">-->
			<!--          <el-dropdown-item>查看</el-dropdown-item>-->
			<!--          <el-dropdown-item>新增</el-dropdown-item>-->
			<!--          <el-dropdown-item>删除</el-dropdown-item>-->
			<!--        </el-dropdown-menu>-->
			<!--      </el-dropdown>-->
			<!--      <span>王小虎</span>-->
		</el-header>
		<el-container>
			<el-aside width="200px" style="background-color: rgb(238, 241, 246)">
				<el-menu :default-openeds="['3']">
					<el-submenu :index="`${pIndex}`" v-for="(item,pIndex) in menus" :key="item.id">
						<template slot="title">
							<i :class="item.icon"></i>{{item.name}}
						</template>
						<el-menu-item :index="`${pIndex}-${cIndex}`" v-for="(children,cIndex) in item.children"
						              @click="clickMenu(children.url)" :key="children.id">
							<i :class="item.icon"></i>{{children.name}}
						</el-menu-item>
					</el-submenu>
				</el-menu>
			</el-aside>
			<el-main>
				<p v-if="welcome">欢迎登录</p>
				<router-view></router-view>
			</el-main>
		</el-container>
	</el-container>
</div>
<div data-th-include="/common/manage :: javascript"></div>
<script data-th-src="@{/vue/manage/main.js}"></script>
</body>
</html>
