<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
		"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<title>用户登录</title>
	<div data-th-include="/common/loginApi :: meta"></div>
	<div data-th-replace="/common/loginApi :: style"></div>
</head>
<body class="loginApi-bg">
<div class="loginApi layui-anim layui-anim-up">
	<div class="message">用户登录</div>
	<div id="darkbannerwrap"></div>
	<form method="post" class="layui-form" id="loginForm">
		<input autocomplete="off" placeholder="用户名" type="text" v-model="username">
		<hr class="hr15">
		<input autocomplete="off" placeholder="密码" type="password" v-model="password">
		<hr class="hr15">
		<input style="width:100%;" type="button" value="立即登录" @click="loginApi">
		<hr class="hr15">
	</form>
</div>
<div data-th-replace="/common/loginApi :: javascript"></div>
<script>
    let vue = new Vue({
        el: '#loginForm',
        data() {

            return {
                username: '',
                password: ''
            }
        },
        methods: {
            loginApi() {
                let data = {
                    username: this.username,
                    password: this.password
                };
                axios.post('/loginCheck', data).then(response => {
                    const result = response.data;
                    console.log('通过api获取到的数据:', result)
                    if (result.status !== 200) {
                        // layer.msg(result.message);
                        return
                    }
                    // layer.msg(result.message);
                    // if (result.data.admin) {
                    //     window.location.href = '/manage/index'
                    // } else {
                    window.location.href = '/index'
                    // }
                    // window.location.href = '/index'
                }).catch(exception => {
                    // layer.msg('系统错误');
                    console.error('系统错误', exception)
                })
            }

        }
    })
</script>
</body>
</html>
