dataBaseParam: 'useUnicode=true
&characterEncoding=utf-8
&serverTimezone=Asia/Shanghai
&zeroDateTimeBehavior=convertToNull
&allowPublicKeyRetrieval=true
&nullDatabaseMeansCurrent=true'
previewAddress: http://localhost:8012
#上传文件配置
virtualPath: '/file/'
uploadPath: 'd:/uploadPath/'
#uploadPath: '/Users/mshe/developer/uploadPath'
server.port: 19093
# 日志配置
logging:
  file.name: logs/springboot-jwt/
  level:
    root: info
    druid.sql: warn
    #    com.mybatisflex: debug
    com.mybatisflex: info

# mybatis
mybatis.mapper-locations: classpath*:mapper/*.xml,classpath*:cn/crabapples/**/dao/mybatis/xml/*.xml
# mybatis-plus
mybatis-plus.mapper-locations: classpath*:mapper/*.xml,classpath*:cn/crabapples/**/dao/mybatis/xml/*.xml

spring:
  application.name: api-system
  profiles.active: dev
  servlet.multipart:
    max-file-size: 100MB # 设置最大文件大小
    max-request-size: 100MB # 设置最大请求大小
  mvc.throw-exception-if-no-handler-found: true #出现错误时, 直接抛出异常
  web.resources.add-mappings: false #不要为工程中的资源文件建立映射
  cloud:
    ### nacos配置
    nacos:
      server-addr: @nacos.server-addr@
      discovery:
        server-addr: @nacos.server-addr@
        #server-addr: 172.16.8.70:8850
        service: system
        #group: hq
        #username:
        #password:
    ### sentinel
    sentinel:
      transport.dashboard: 127.0.0.1:8858
      transport.port: 8859
      log.dir: ./logs/csp



