dataBaseParam: 'useUnicode=true
&characterEncoding=utf-8
&serverTimezone=Asia/Shanghai
&zeroDateTimeBehavior=convertToNull
&allowPublicKeyRetrieval=true
&nullDatabaseMeansCurrent=true'
previewAddress: http://localhost:8012
#上传文件配置
virtualPath: '/file/'
uploadPath: 'd:/uploadPath/'
#uploadPath: '/Users/mshe/developer/uploadPath'
# 设置最大文件大小
spring.servlet.multipart.max-file-size: 100MB
# 设置最大请求大小
spring.servlet.multipart.max-request-size: 100MB
###
server.port: 19093

spring.profiles.active: dev
# mybatis
mybatis.mapper-locations: classpath*:mapper/*.xml,classpath*:cn/crabapples/**/dao/mybatis/xml/*.xml
# mybatis-plus
mybatis-plus.mapper-locations: classpath*:mapper/*.xml,classpath*:cn/crabapples/**/dao/mybatis/xml/*.xml
# mybatis-flex
mybatis-flex.mapper-locations: classpath*:mapper/*.xml,classpath*:cn/crabapples/**/dao/mybatis/xml/*.xml
# nacos配置
nacos.config.server-addr: @nacos.server-addr@
spring.application.name: api-system
#spring.cloud.nacos.discovery.server-addr: 127.0.0.1:8848
#spring.cloud.nacos.discovery.server-addr: 172.16.8.70:8850
spring.cloud.nacos.discovery.server-addr: @nacos.server-addr@
#spring.cloud.nacos.discovery.group: hq

#spring.cloud.nacos.discovery.username: ''
#spring.cloud.nacos.discovery.password: ''

# 日志配置
logging.file.name: logs/springboot-jwt/
#出现错误时, 直接抛出异常
#spring.mvc.throw-exception-if-no-handler-found: true
#不要为工程中的资源文件建立映射
#spring.web.resources.add-mappings: false

spring.cloud.sentinel.transport.dashboard: 127.0.0.1:8858
spring.cloud.sentinel.log.dir: ./logs/csp


