<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.crabapples.system.dao.mybatis.MenusMapper">

    <select id="getRoleMenus" resultType="cn.crabapples.system.entity.SysRoleMenus">
        select *
        from sys_role
        where id = 'a15001d9-db9e-44bb-9427-0b3836f2267c'
    </select>

    <!--未使用: 已经使用DAO中的QueryWrapper方式代替-->
    <select id="findButtonsByIds" resultType="cn.crabapples.system.entity.SysMenu">
        select * from sys_menu where del_flag = 0 and menus_type = 2
        and id in
        <foreach collection="ids" item="item" open="(" close=")" separator=",">
            #{item}
        </foreach>
    </select>

    <select id="getUserMenus" resultType="cn.crabapples.system.entity.SysMenu">
        select distinct sys_menu.*
        from sys_user
                 INNER join sys_user_roles on sys_user.id = sys_user_roles.user_id
                 INNER JOIN sys_role_menus on sys_role_menus.role_id = sys_user_roles.role_id
                 INNER JOIN sys_menu on sys_menu.id = sys_role_menus.menu_id
        where sys_user.id = #{userId}
    </select>
    <!--递归查询菜单树,已经使用DAO中的一对多递归查询的方式代替 -->
    <!--虽然可以查出来，但是并不会将子集放入children字段中,需要手动构建resultMap-->
    <select id="findMenusTree" resultType="cn.crabapples.system.entity.SysMenu">
        with recursive menusTree as (select *
                                     from sys_menu
                                     where pid is null
                                     union all
                                     select node.*
                                     from sys_menu as node
                                              inner join menusTree as root on node.pid = root.id)
        select *
        from menusTree;
    </select>
</mapper>
