<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.crabapples.system.dao.mybatis.RoleMenusMapper">
    <resultMap id="roleMenus" type="cn.crabapples.system.entity.SysRoleMenus">
        <id property="id" column="role_id"/>
        <result property="name" column="role_name"/>
        <collection property="sysMenus" ofType="cn.crabapples.system.entity.SysMenu">
            <id property="id" column="id"/>
            <result property="pid" column="pid"/>
            <result property="sort" column="sort"/>
            <result property="icon" column="icon"/>
            <result property="name" column="name"/>
            <result property="link" column="link"/>
            <result property="menusType" column="menus_ype"/>
            <result property="path" column="path"/>
            <result property="filePath" column="filePath"/>
            <result property="permission" column="permission"/>
            <result property="path" column="path"/>
            <result property="showFlag" column="show_flag"/>
            <result property="createBy" column="create_by"/>
            <result property="createTime" column="create_time"/>
            <result property="updateTime" column="update_time"/>
            <result property="delFlag" column="del_flag"/>
        </collection>
    </resultMap>
    <insert id="saveRoleMenus">
        <foreach collection="menuIds" item="menuId" separator=";">
            insert into sys_role_menus (role_id,menu_id) values  (#{roleId},#{menuId})
        </foreach>
    </insert>
    <delete id="deleteRoleMenus">
        delete
        from sys_role_menus
        where role_id = #{roleId};
    </delete>

    <select id="getRoleMenus" resultMap="roleMenus">
        select role.id   as role_id,
               role.name as role_name,
               sm.*
        from sys_role as role
                 left join sys_role_menus srm on role.id = srm.role_id
                 left join sys_menu sm on srm.menu_id = sm.id
        where role.id = #{roleId}
    </select>

    <select id="getRoleMenusList" resultType="cn.crabapples.system.entity.SysMenu">
        select sm.*
        from sys_role as role
                 left join sys_role_menus srm on role.id = srm.role_id
                 left join sys_menu sm on srm.menu_id = sm.id
        where role.id = #{roleId}
    </select>

    <select id="getRoleListMenusList" resultType="cn.crabapples.system.entity.SysMenu">
        select sm.*
        from sys_role as role
        inner join sys_role_menus srm on role.id = srm.role_id
        inner join sys_menu sm on srm.menu_id = sm.id
        where role.id in
        <foreach collection="roleIds" open="(" close=")" separator="," item="item">
            #{item}
        </foreach>
    </select>


</mapper>
