<head th:fragment="meta">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<meta name="renderer" content="webkit"/>
	<meta name="force-rendering" content="webkit"/>
</head>

<style th:fragment="css">
    #app {
        padding: 0;
        margin: 0;
    }
    body {
        padding: 0;
        margin: 0;
    }</style>
<th th:fragment="quill">
	<link rel="stylesheet" th:href="@{/css/quill.snow.css}">
	<script th:src="@{/js/quill.js}"></script>
</th>
<th th:fragment="wangEditor">
	<script th:src="@{/js/wangEditor.min.js}"></script>
</th>

<th th:fragment="javascript">
	<script th:src="@{/js/moment.js}"></script>
	<script th:src="@{/js/axios.min.js}"></script>
	<script th:src="@{/js/request.js}"></script>
	<script th:src="@{/js/common.js}"></script>

</th>

