<!doctype html>
<html class="x-admin-sm" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
  <title>用户注册</title>
  <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
  <link rel="stylesheet" data-th-href="@{/common/css/login.css}">
  <header data-th-include="/base/page :: meta"></header>
  <header data-th-replace="/base/page :: javascript"></header>
  <header data-th-replace="/base/page :: style"></header>
</head>
<body class="login-bg">
<div class="login layui-anim layui-anim-up">
  <div class="message">用户注册</div>
  <div id="darkbannerwrap"></div>
  <form method="post" class="layui-form" id="registryForm">
    <input autocomplete="off" placeholder="用户名" type="text" v-model="form.username">
    <hr class="hr15">
    <input autocomplete="off" placeholder="密码" type="password" v-model="form.password"
           @change="ckeckPwd">
    <hr class="hr15">
    <input autocomplete="off" placeholder="重复密码" type="password" v-model="form.rePassword" @change="ckeckPwd">
    <p v-if="!check" style="color:red">两次密码不一致</p>
    <hr class="hr15">
    <input autocomplete="off" placeholder="姓名" type="text" v-model="form.name">
    <hr class="hr15">
    <input autocomplete="off" placeholder="手机号" type="text" v-model="form.phone">
    <hr class="hr15">
    <input autocomplete="off" placeholder="邮箱" type="text" v-model="form.mail">
    <hr class="hr15">
    <input style="width:100%;" type="button" value="立即注册" @click="registry">
    <hr class="hr15">
  </form>
</div>
<script>
  let vue = new Vue({
    el: '#registryForm',
    data() {
      return {
        form: {
          username: '',
          password: '',
          rePassword: '',
          name: '',
          phone: '',
          mail: '',
        },
        check: true,
      }
    },
    mounted() {
    },
    methods: {
      registry() {
        if (!this.checkForm()) {
          alert('请完整填写信息');
          return
        }
        console.log(this.form);
        axios.post('/manage/registryCheck', this.form).then(response => {
          const result = response.data;
          console.log('通过api获取到的数据:', result);
          if (result.status !== 200) {
            alert(result.message);
            return
          }
          alert(result.message);
          setTimeout(() => {
            window.location.href = '/login'
          }, 3000)
        }).catch(exception => {
          layer.msg('系统错误');
          console.error('系统错误', exception)
        })
      },
      ckeckPwd() {
        this.check = this.form.password === this.form.rePassword
      },
      checkForm() {
        let success = true;
        Object.keys(this.form).forEach(e => {
          if (this.form[e] === '') {
            success = false;
          }
        });
        return success;
      },
    }
  })
</script>
</body>
</html>
